<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
      
      Application pool in IIS must enable 32-bit application! -> Advanced settings.
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime executionTimeout="2147483647" maxRequestLength="2147483647" requestValidationMode="2.0" />
    <customErrors mode="Off" />
    <roleManager enabled="true" />
    <sessionState timeout="100440" />
    <authentication mode="Forms">
      <forms name="256GL_Login" protection="All" timeout="100440" enableCrossAppRedirects="true" defaultUrl="default.aspx" />
    </authentication>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <connectionStrings>
    <add name="256notes" connectionString="Server=localhost;Database=256notes;User Id=256gl;Password=256gl;Trusted_Connection=False;" />
    <!--
      <add name="256notes" connectionString="Server=localhost;Database=256notes;User Id=256gl;Password=256gl;Trusted_Connection=False;" />
      <add name="256notes" connectionString="Server=tcp:urhtfvout2.database.windows.net,1433;Database=256notes;User ID=stolkachev@urhtfvout2;Password=Figi2001;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"/>
    -->
  </connectionStrings>
  <appSettings>
    <add key="build" value="v.m. b4.81" />
    <add key="filePath" value="C:/inetpub/wwwroot/" />
    <add key="root_Dir" value="C:/inetpub/wwwroot/" />
    <add key="thumbnails_Dir" value="cards/thumbnails/" />
    <add key="images_Dir" value="cards/images/" />
    <add key="pages_Dir" value="cards/pages/" />
    <add key="deepzoom_Root_Dir" value="cards/deepzoom/" />
    <add key="pages_Root_Dir" value="cards/notes/" />
    <add key="attachments_Root_Dir" value="cards/attachments/" />
    <add key="attachments_Root_Web_Dir" value="cards/attachments/" />
    <add key="find_results_Dir" value="cards/find_results/" />
    <add key="public_Dir" value="cards/public/" />
    <add key="triggers_Dir" value="cards/triggers/" />
    <add key="notes_Server" value="http://localhost" />
    <add key="websocket_Server" value="256gl.com" />
    <add key="ws_Server" value="ws://256gl.com:55438" />
    <add key="alexa" value="true" />
    <add key="alexa_session_id" value="my_virtual" />
    
    <add key="nnt_Server" value="" />
    <add key="img_Width" value="600" />
    <add key="img_Height" value="600" />
    <add key="pop_Server" value="mail.nnod.com" />
    <add key="pop_Port" value="110" />
    <add key="pop_Account" value="@nnod.com" />
    <add key="pop_Password" value="figi2001" />
    <add key="qb_Server_On" value="true" />
    <add key="log_On" value="true" />
    <add key="log_File" value="C:/inetpub/logs/256gl/256GL_Notes.log" />
    <add key="SMS_Number" value="+16126700585" />
    <add key="twilio_Phone" value="+16122237614" />
    <add key="twilio_url" value="https://api.twilio.com/2010-04-01/Accounts/AC70ca47c1be8b2b0927370061662d2154/SMS/Messages" />
    <add key="twilio_ACCOUNT_SID" value="AC70ca47c1be8b2b0927370061662d2154" />
    <add key="twilio_AUTH_TOKEN" value="dabdf8748aa9dff5e1cfff45790288da" />
    <add key="relay_nameSpace" value="nnod-alexa" />
    <add key="issuerName" value="RootManageSharedAccessKey" />
    <add key="issuerSecret" value="kR3JG9BMcXB/0iq04+YFA8Wt+gkzXrDcdojx3op7K54=" />
  </appSettings>
  <system.serviceModel>
    <extensions>
      <!-- In this extension section we are introducing all known service bus extensions. User can remove the ones they don't need. -->
      <behaviorExtensions>
        <add name="connectionStatusBehavior" type="Microsoft.ServiceBus.Configuration.ConnectionStatusElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="transportClientEndpointBehavior" type="Microsoft.ServiceBus.Configuration.TransportClientEndpointBehaviorElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="serviceRegistrySettings" type="Microsoft.ServiceBus.Configuration.ServiceRegistrySettingsElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </behaviorExtensions>
      <bindingElementExtensions>
        <add name="netMessagingTransport" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingTransportExtensionElement, Microsoft.ServiceBus,  Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="tcpRelayTransport" type="Microsoft.ServiceBus.Configuration.TcpRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="httpRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="httpsRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpsRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="onewayRelayTransport" type="Microsoft.ServiceBus.Configuration.RelayedOnewayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </bindingElementExtensions>
      <bindingExtensions>
        <add name="basicHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.BasicHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="webHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WebHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="ws2007HttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WS2007HttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netTcpRelayBinding" type="Microsoft.ServiceBus.Configuration.NetTcpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netOnewayRelayBinding" type="Microsoft.ServiceBus.Configuration.NetOnewayRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netEventRelayBinding" type="Microsoft.ServiceBus.Configuration.NetEventRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netMessagingBinding" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </bindingExtensions>
    </extensions>
  </system.serviceModel>
</configuration>
<!--ProjectGuid: B3A163A9-D09B-4D0D-A1D7-A9B3B6A90E36-->