article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section 
{ 
    display:block;
}

html, body 
{
  width: 100%;
  height: 100%;
  border: 0px;
  padding: 0px;
  margin: 0px;
  background-color: rgb(255, 255, 255);
  overflow-y: hidden;
  
  font-family: Nobile, arial,sans-serif; 
  
         /* lets see if we can get some hardware accel on this    
        -webkit-transform: translateZ(0); unstable.  */
}

input
{
    display:block;
}

canvas 
{
  cursor: pointer;
  -webkit-user-select:none;
  -moz-user-select:none;
  user-select:none;

  opacity: 1;
  
     -moz-transition: none 0.7s ease-out;  
       -o-transition: none 0.7s ease-out;  
  -webkit-transition: none 0.7s ease-out;  
          transition: none 0.7s ease-out;   
          
  -moz-transition-property:     -moz-transform, opacity;
  -webkit-transition-property: -webkit-transform, opacity;
  -o-transition-property:       -o-transform, opacity;
  transition-property:          transform, opacity;
    
}
.init canvas { cursor: default;}

